flow.json
[{"id":"17724a54.036fc6","type":"subflow","name":"EGI Geozone","info":"![Logo](https://play-lh.googleusercontent.com/Xumisnals5BRF9URTz9cHX2RpDMlQcTjnzvvdj65fYNBQ1us78EnRc5HqA3OelEqMKVu=s80-rw)\n# EgiGeoZone Geofence Subflow\n`in Nodered`\n\n---\n## OUTPUT:\n\n    {\n        id:\"b1234-0815de-3abc0-8abc-0815ed1dddcf\",\n        name:\"zuHause\",\n        entry:\"1\",\n        date:\"2021-01-05T09:21:27Z\",\n        latitude:\"51.4643171\",\n        longitude:\"8.6991961\",\n        device:\"b1234-0815de-3abc0-8abc-0815ed1dddc\",\n        inZone: true,\n        device_name: \"Horst\"\n    }\n\n\n\n---\n## INPUT:\n\nEintrag in EGI Geozone Server bei _URL FHEM Geofancy_ :\n\n`http://`mein.dyndns`:`Port`/webhook/geo`\n\n\n\n- Cloudmatic Redmatic beispiel:\n\n`http://`12345`.meine-homematic.de/addons/red/webhook/geo`\n\n12345 = eure Cloudmatic ID\n\n\n\n- Cloudmatic Nodered beispiel:\n\n`http://`12345`.meine-homematic.de:`8001`/webhook/geo`\n\nPort 8001 = der Port den ihr in Cloudmatic frei gebt.\n\nhttp://kb.easy-smarthome.de/CloudMatic_Informationen_-_IP_und_Port_Informationen\n\n---\n\n## by [Matten Matten](https://github.com/Matten-Matten/EgiGeoZone-Geofence-Subfow/blob/main/README.md)","category":"Geofance","in":[],"out":[{"x":1960,"y":160,"wires":[{"id":"c044bc5e.0e2f1","port":0},{"id":"3559e8bb.6548c8","port":1},{"id":"3559e8bb.6548c8","port":0},{"id":"24701591.05c8ca","port":0}]}],"env":[{"name":"","type":"str","value":"text","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Subfow zum erfassen der EGI Geozone Daten."},"type":"none"}},{"name":"","type":"str","value":"version","ui":{"icon":"font-awesome/fa-server","label":{"en-US":"Version 1.1.0"},"type":"none"}},{"name":"","type":"str","value":"___","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"info0","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Du kannst deiner ID einem Namen zuordnen, \"Name\" & \"ID\" mit \"=\""},"type":"none"}},{"name":"","type":"str","value":"info1","ui":{"label":{"en-US":"trennen"},"type":"none"}},{"name":"","type":"str","value":"info2","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Du kannst auch mehrere \"Namen=ID\" eintragen die du durch ein \" ; \""},"type":"none"}},{"name":"","type":"str","value":"info3","ui":{"label":{"en-US":"trennst"},"type":"none"}},{"name":"NAME_ID","type":"str","value":"Otto=b1234-0815de-3abc0-8ab...;Tina=b5678-0815de-3abc0-8a...","ui":{"icon":"font-awesome/fa-edit","label":{"en-US":"Name & ID"},"type":"input","opts":{"types":["str"]}}},{"name":"","type":"str","value":"info4","ui":{"icon":"font-awesome/fa-code","label":{"en-US":"Horst=b1234-0815de-3abc0-8abc-0815ed1dddcf"},"type":"none"}},{"name":"","type":"str","value":"info5","ui":{"icon":"font-awesome/fa-code","label":{"en-US":"Otto=b1234-0815de-3abc0-8ab...;Tina=b5678-0815de-3abc0-8a..."},"type":"none"}},{"name":"","type":"str","value":"___","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"text","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Soll der GeoZone Test am Output ausgegeben werden?"},"type":"none"}},{"name":"TEST","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-sign-out","label":{"en-US":"Geozone Test ausgeben"},"type":"checkbox"}},{"name":"","type":"str","value":"___","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Achtung","ui":{"icon":"font-awesome/fa-exclamation","label":{"en-US":"Achtung Bitte nicht einfach ein Port öffnen!!!"},"type":"none"}},{"name":"","type":"str","value":"text","ui":{"icon":"font-awesome/fa-angle-right","label":{"en-US":"nutze Cloudserver wie Cloudmatic oder ioBroker-Cloud!"},"type":"none"}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"debug"},"type":"checkbox"}}],"color":"#C7E900","outputLabels":["Geo Output"],"icon":"font-awesome/fa-map-marker","status":{"x":1540,"y":380,"wires":[{"id":"b6ca725c.08c37","port":0},{"id":"5311bb41.0f8b84","port":0},{"id":"6f270e16.57c6d","port":0},{"id":"90f7a061.f5752","port":0}]}},{"id":"916376d6.1cf428","type":"http in","z":"17724a54.036fc6","name":"","url":"/webhook/geo","method":"get","upload":false,"swaggerDoc":"","x":350,"y":260,"wires":[["54014fa5.d7fce","1ab7063c.15125a","2a03807a.36934"]]},{"id":"87bcff16.efcb5","type":"http response","z":"17724a54.036fc6","name":"","x":1390,"y":300,"wires":[]},{"id":"e26911e9.8abdb","type":"switch","z":"17724a54.036fc6","name":"!= leer","property":"payload.id","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":830,"y":200,"wires":[["c079b66d.7e6f18","c604bbca.0254e8"],["c7595746.082f08"]]},{"id":"54014fa5.d7fce","type":"delay","z":"17724a54.036fc6","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":300,"wires":[["31bfee03.54f7a2"]]},{"id":"31bfee03.54f7a2","type":"template","z":"17724a54.036fc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n       <h1>EGI Geozone NodeRed API</h1> \n    </head>\n    <body>\n        <h1>error unknown API request!</h1>\n        <h1>error</h1>\n    </body>\n</html>","x":830,"y":300,"wires":[["87bcff16.efcb5","e219cfc3.26e93"]]},{"id":"c7595746.082f08","type":"template","z":"17724a54.036fc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <h1>EGI Geozone NodeRed API</h1>\n    </head>\n    <body>\n        <h1>error wrong Value!</h1>\n        <h1>error</h1>\n    </body>\n</html>","x":1190,"y":240,"wires":[["87bcff16.efcb5"]]},{"id":"c079b66d.7e6f18","type":"template","z":"17724a54.036fc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n       <h1>EGI Geozone NodeRed API</h1> \n    </head>\n    <body>\n        <h1>OK</h1>\n        <h1>{{payload}}</h1>\n    </body>\n</html>","x":1190,"y":200,"wires":[["87bcff16.efcb5"]]},{"id":"1ab7063c.15125a","type":"switch","z":"17724a54.036fc6","name":"id","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"id","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":220,"wires":[["e26911e9.8abdb","123e0fe.575aff"],["31bfee03.54f7a2","123e0fe.575aff"]]},{"id":"b562e0df.a318f","type":"comment","z":"17724a54.036fc6","name":"Web API Input","info":"","x":250,"y":220,"wires":[]},{"id":"e0b57c9e.e0e5f","type":"debug","z":"17724a54.036fc6","name":"EGI Geozone debug!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":80,"wires":[]},{"id":"9c3294b2.0e9f88","type":"inject","z":"17724a54.036fc6","name":"deploy","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{fill:\"green\",shape:\"ring\",text:\"bereit\"}","payloadType":"str","x":1230,"y":340,"wires":[["90f7a061.f5752"]]},{"id":"b6ca725c.08c37","type":"function","z":"17724a54.036fc6","name":"Status","func":"msg.payload = {fill:\"red\",shape:\"dot\",text:\"error: Input kann nicht verarbeitet werden!\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":420,"wires":[[]]},{"id":"5311bb41.0f8b84","type":"function","z":"17724a54.036fc6","name":"Status","func":"msg.payload = {fill:\"yellow\",shape:\"dot\",text:\"Test empfangen\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":500,"wires":[["5bc2b995.879dd8"]]},{"id":"c604bbca.0254e8","type":"switch","z":"17724a54.036fc6","name":"TestGeoZone","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"TestGeoZone","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1020,"y":140,"wires":[["260099ec.024426","828acd4a.3d1a1"],["bc1ac2ff.5cfbf","d07e4092.a798b"]]},{"id":"260099ec.024426","type":"switch","z":"17724a54.036fc6","name":"TEST","property":"TEST","propertyType":"env","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":1250,"y":120,"wires":[["d07e4092.a798b"]]},{"id":"123e0fe.575aff","type":"change","z":"17724a54.036fc6","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["54014fa5.d7fce"]]},{"id":"6f270e16.57c6d","type":"function","z":"17724a54.036fc6","name":"Status","func":"msg.payload = {fill:\"yellow\",shape:\"dot\",text:\"Status erfolgreich empfangen\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":460,"wires":[["5bc2b995.879dd8"]]},{"id":"828acd4a.3d1a1","type":"link out","z":"17724a54.036fc6","name":"STATUS","links":["23c28d12.cf5c62"],"x":1155,"y":120,"wires":[]},{"id":"23c28d12.cf5c62","type":"link in","z":"17724a54.036fc6","name":"STATUS","links":["828acd4a.3d1a1"],"x":1275,"y":500,"wires":[["5311bb41.0f8b84"]]},{"id":"bc1ac2ff.5cfbf","type":"link out","z":"17724a54.036fc6","name":"STATUS","links":["bf878d5b.89ccd"],"x":1155,"y":160,"wires":[]},{"id":"bf878d5b.89ccd","type":"link in","z":"17724a54.036fc6","name":"STATUS","links":["bc1ac2ff.5cfbf"],"x":1275,"y":460,"wires":[["6f270e16.57c6d"]]},{"id":"e219cfc3.26e93","type":"link out","z":"17724a54.036fc6","name":"STATUS","links":["b03ee5db.90d478"],"x":975,"y":340,"wires":[]},{"id":"b03ee5db.90d478","type":"link in","z":"17724a54.036fc6","name":"STATUS","links":["e219cfc3.26e93"],"x":1275,"y":420,"wires":[["b6ca725c.08c37"]]},{"id":"90f7a061.f5752","type":"function","z":"17724a54.036fc6","name":"Status","func":"msg.payload = {fill:\"green\",shape:\"ring\",text:\"bereit\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":380,"wires":[[]]},{"id":"5bc2b995.879dd8","type":"link out","z":"17724a54.036fc6","name":"","links":["e508381.6b2d6c8"],"x":1535,"y":500,"wires":[]},{"id":"15b0b031.2edc9","type":"delay","z":"17724a54.036fc6","name":"5 sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":380,"wires":[["90f7a061.f5752"]]},{"id":"e508381.6b2d6c8","type":"link in","z":"17724a54.036fc6","name":"","links":["5bc2b995.879dd8"],"x":1135,"y":380,"wires":[["15b0b031.2edc9"]]},{"id":"2a03807a.36934","type":"switch","z":"17724a54.036fc6","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":620,"y":80,"wires":[["e0b57c9e.e0e5f"]]},{"id":"d07e4092.a798b","type":"function","z":"17724a54.036fc6","name":"format","func":"msg.payload.entry = parseFloat(msg.payload.entry);\nmsg.payload.latitude = parseFloat(msg.payload.latitude);\nmsg.payload.longitude = parseFloat(msg.payload.longitude);\n\nif (msg.payload.entry === 0) {\n    msg.payload.inZone = false;\n} else if (msg.payload.entry === 1) {\n    msg.payload.inZone = true;\n} else {\n    msg.payload.inZone = parseFloat(msg.payload.entry);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":160,"wires":[["3559e8bb.6548c8"]]},{"id":"c044bc5e.0e2f1","type":"function","z":"17724a54.036fc6","name":"device_name","func":"var device = msg.payload.device;\nvar meinArray = msg.NAME_ID.split(\";\");\nvar id;\n\nfor (var i = 0; i < meinArray.length; i++) {\n    id = meinArray[i].split(\"=\")\n        if (id[1] === device){\n            msg.payload.device_name = id[0];\n            return msg; \n        } else if ((meinArray.length)-1 === i){\n            //msg.payload.device_name = \"ID nicht gefunden\";\n            return msg; \n        }\n}\n\n//node.warn(msg.payload)\n//node.warn(liste)\n//node.warn(meinArray.length)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":180,"wires":[[]]},{"id":"3559e8bb.6548c8","type":"switch","z":"17724a54.036fc6","name":"NAME_ID","property":"NAME_ID","propertyType":"env","rules":[{"t":"empty"},{"t":"eq","v":"Otto=b1234-0815de-3abc0-8ab...;Tina=b5678-0815de-3abc0-8a...","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":3,"x":1540,"y":160,"wires":[[],[],["da807482.43e8e8"]]},{"id":"da807482.43e8e8","type":"change","z":"17724a54.036fc6","name":"NAME_ID","rules":[{"t":"set","p":"NAME_ID","pt":"msg","to":"NAME_ID","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1645,"y":200,"wires":[["5af90c9e.99e144"]],"icon":"node-red/cog.svg","l":false},{"id":"5af90c9e.99e144","type":"switch","z":"17724a54.036fc6","name":"NAME_ID","property":"NAME_ID","propertyType":"env","rules":[{"t":"cont","v":";","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1695,"y":200,"wires":[["c044bc5e.0e2f1"],["24701591.05c8ca"]],"l":false},{"id":"24701591.05c8ca","type":"function","z":"17724a54.036fc6","name":"device_name","func":"var device = msg.payload.device;\nvar id = msg.NAME_ID.split(\"=\");\n\nif (id[1] === device){\n    msg.payload.device_name = id[0];\n    return msg; \n} else {\n    //msg.payload.device_name = \"ID nicht gefunden\";\n    return msg; \n}\n\n\n//node.warn(msg.payload)\n//node.warn(liste)\n//node.warn(meinArray.length)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":220,"wires":[[]]},{"id":"fe9f65b4.347078","type":"subflow:17724a54.036fc6","z":"1d8fd1c0.1c745e","name":"","env":[],"x":290,"y":500,"wires":[["24b62fd1.36cf4","f1d97150.e374d"]]}]
